@font-face { font-family: 'Pixeled'; src: url("../fonts/Pixeled.ttf"); }
@font-face { font-family: 'Romochka'; src: url("../fonts/Romochka.otf"); }

.ShareTechMono{
    font-family: 'Share Tech Mono', monospace;
    font-size: 14;
}
.Pixeled{
    font-family:'Pixeled';
    font-size: 14;
}
.Leftmenu{
    font-family:'Romochka';
    font-size: 18;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 0px 1px 1px #000000;}
a.Leftmenu:link {COLOR: #ffffff; TEXT-DECORATION: none;}
a.Leftmenu:active {COLOR: #FF8800; TEXT-DECORATION: none;}
a.Leftmenu:visited {COLOR: #ffffff; TEXT-DECORATION: none;}
a.Leftmenu:hover {COLOR: #000000; TEXT-DECORATION: none;}

.indexmenu{
    font-family:'Romochka';
    font-size: 20;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0px 1px 1px #ffffff, 0px 4px 1px #000000;}
a.indexmenu:link {COLOR: #ffffff; TEXT-DECORATION: none;}
a.indexmenu:active {COLOR: #ffffff; TEXT-DECORATION: none;}
a.indexmenu:visited {COLOR: #ffffff; TEXT-DECORATION: none;}
a.indexmenu:hover {COLOR: #ffffff; TEXT-DECORATION: none; text-shadow: 2px 2px 0px #F40305}

.text--glitch {
  margin: 0;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  letter-spacing: .025em;
  text-transform: uppercase;
  
  text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
              -.05em -.025em 0 rgba(0, 255, 0, .75),
              .025em .05em 0 rgba(0, 0, 255, .75);
  
  animation: glitch 525ms infinite;
}
.text--glitch::before, 
.text--glitch::after {
  content: attr(data-text);
  position: absolute;
  letter-spacing: .025em;
  top: 0;
  left: 0;
  opacity: .7;
}
.text--glitch::before {
  animation: glitch 675ms infinite;
  transform: translate(-.035em, -.025em);
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
.text--glitch::after {
  animation: glitch 333ms infinite;
  transform: translate(.035em, .025em);
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
}

@keyframes glitch {
  0% {
    text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
                -.05em -.025em 0 rgba(0, 255, 0, .75),
                .025em .05em 0 rgba(0, 0, 255, .75);
  }
  14% {
    text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
                -.05em -.025em 0 rgba(0, 255, 0, .75),
                .025em .05em 0 rgba(0, 0, 255, .75);
  }
  15% {
    text-shadow: -.05em -.025em 0 rgba(255, 0, 0, .75),
                .025em .025em 0 rgba(0, 255, 0, .75),
                -.05em -.05em 0 rgba(0, 0, 255, .75);
  }
  49% {
    text-shadow: -.05em -.025em 0 rgba(255, 0, 0, .75),
                .025em .025em 0 rgba(0, 255, 0, .75),
                -.05em -.05em 0 rgba(0, 0, 255, .75);
  }
  50% {
    text-shadow: .025em .05em 0 rgba(255, 0, 0, .75),
                .05em 0 0 rgba(0, 255, 0, .75),
                 0 -.05em 0 rgba(0, 0, 255, .75);
  }
  99% {
    text-shadow: .025em .05em 0 rgba(255, 0, 0, .75),
                .05em 0 0 rgba(0, 255, 0, .75),
                 0 -.05em 0 rgba(0, 0, 255, .75);
  }
  100% {
    text-shadow: -.025em 0 0 rgba(255, 0, 0, .75),
                -.025em -.025em 0 rgba(0, 255, 0, .75),
                -.025em -.05em 0 rgba(0, 0, 255, .75);
  }
}


@media(prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    transition-delay: 0s !important;
    animation-delay: -1ms !important;
    scroll-behavior: auto !important;
    animation-duration: 1ms !important;
    transition-duration: 0s !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
  }
}